<template>
  <div class="data-content">
    <h2>2. О данных</h2>
    <p>2.1 Принципы выделения типов городской среды</p>
    <p>За основу выделения классов  взяты типы городской среды из Стандарта комплексного развития территорий. Критерии отнесения зданий к тому или иному типу были выбраны с таким расчетом, чтобы классифицировать как можно больше зданий Воронежа.</p>
    <p>1. Историческая смешанная городская среда. В  этот класс мы отнесли все здания, построенные до 1917 г. Это территории исторической разреженной и периметральной застройки дореволюционного периода с отдельными включениями застройки вплоть до настоящего времени. Чаще всего здания этого типа встречаются в центре города.</p>
    <img src="@/assets/img/fridrih.jpg" alt="улица Фридриха Энгельса, 23">
    <p>улица Фридриха Энгельса, 23</p>
    <p>2. К классу советской периметральной городской среды мы отнесли здания, построенные в довоенный период и в период послевоенного восстановления до 1960 г. В основном это 4-х, 5-ти этажные “сталинки”, типовое жилье, встречаются довоенные здания в стиле конструктивизма. Здания этого класса в основном сосредоточены в центре и вокруг центра города, а также рядом с промышленными зонами советского периода (например, около тракторного и экскаваторного завода, авиазавода).</p>
    <img src="@/assets/img/karl.jpg" alt="улица Карла Маркса, 92А">
    <p>улица Карла Маркса, 92А</p>
    <p>3. Индивидуальная жилая городская среда - частные жилые дома 1-2 этажа. В этот класс попадают как дома советского периода, так и современные коттеджи. Дома этого типа формируют так называемые частные сектора. Располагаются как в центре города, так и на его окраинах. В этот класс входят также жилые дома сёл и посёлков присоединенных в 2010 г. к Воронежу.</p>
    <img src="@/assets/img/individual.jpg" alt="Индивидуальная жилая застройка">
    <p>Индивидуальная жилая застройка</p>
    <p>4. Многоэтажная микрорайонная городская среда сформирована многоэтажными (более 7 этажей) многоквартирными домами башенного и секционного типа советского и постсоветского периода. Кварталы зданий этого типа формируют спальные районы.</p>
    <img src="@/assets/img/olimp.jpg" alt="Жилой массив Олимпийский">
    <p>Жилой массив Олимпийский</p>
    <p>5. Среднеэтажная микрорайонная городская среда. В этот класс попадают все “хрущевки”, а также другие среднеэтажные дома (в данном случае, 4-6 этажей) построенные в более поздние периоды. Из зданий этого типа были сформированы целые микрорайоны (например, Юго-Западный).</p>
    <img src="@/assets/img/shishkova.jpg" alt="улица Шишкова, 67">
    <p>улица Шишкова, 67</p>
    <p>6. Промышленная и общественно-деловая городская среда. Это дополнительный выделенный класс, куда были отнесены все остальные здания, которые невозможно отнести ни к одному из вышеперечисленных классов.</p>
    <p>2.2 Классификация плотности застройки</p>
    <p>Под плотностью застройки понимается общая площадь всех этажей здания, которые находятся над землей. Измеряется в квадратных метрах и приходится на 1 га участка квартала или жилого района.</p>
    <p>Плотность застройки была рассчитана для каждого квартала. Условно можно выделить шесть классов:</p>
    <ol>
      <li>Очень низкая плотность застройки (минимальная плотность застройки, менее 0.5 тыс. кв.м/га).  Представляет собой единичные здания или небольшие группы зданий в пределах крупного квартала (иногда целых лесных массивов) на окраинах города.</li>
      <li>Низкая плотность застройки (плотность не превышает 1 тыс. кв.м/га).  В основном представлена индивидуальной жилой застройкой на окраинах города. <br>В этот класс также попала многоэтажная застройка в парковых ландшафтах.</li>
      <li>Разреженная застройка (плотность застройки от 1 до 4 тыс. кв.м/га). <br>Представляет собой по большей части частный сектор в центральных частях города. Также такая плотность застройки характерна для гаражных кооперативов и промышленных территорий.</li>
      <li>Плотная застройка (плотность 4-8 тыс. кв.м/га). Характерна для кварталов со смешанной жилой застройкой (индивидуальной и многоэтажной). Также характерны кварталы с преобладанием среднеэтажной застройки, которые спроектированы в 60-е годы.</li>
      <li>Высокая плотность застройки (8-12 тыс. кв.м/га) - в спальные кварталы многоэтажной застройки, а также для советская периметральная застройка центральной части города.</li>
      <li>Наибольшая плотность застройки (более 12 тыс. кв.м/га). Характерна для микрорайонов с современной многоэтажной застройкой, а также для уплотнённой застройки советского периода в центральной части города.</li>
    </ol>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.data-content {
  overflow: auto;
  height: 63vh;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 3px;
  }
}
</style>