<template>
  <div class="mapbox-wrapper">
    <div class="header">
      <div class="header__left" @click="resetMap()">
        <h2>Карта городской среды г.Воронежа</h2>
      </div>
      <div class="header__right">
        <div class="hamburger" @click="isMenu = !isMenu" :class="{'is-open': isMenu}">
          <span class="hamburger__inner hamburger__inner-one"></span>
          <span class="hamburger__inner hamburger__inner-two"></span>
        </div>
        <transition name="menu-toggle">
          <div class="menu-block" v-if="isMenu">
            <span @click="isOpenPopup('project')">О проекте</span>
            <span @click="isOpenPopup('data')">О данных</span>
          </div>
        </transition>
      </div>
    </div>
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
    <div class="logo-itt">
      <a href="https://it-thematic.ru/" target="_blank">
        <img src="@/assets/img/logo-itt.svg" alt="">
        <p>IT-thematic</p>
      </a>
    </div>
    <div class="legend">
      <div class="quarter">
        <p>Плотность застройки, тыс. м<sup>2</sup>/га</p>
        <div class="legend__item">
          <div class="item-color quarter-1"></div>
          <span>Очень низкая (менее 0.5)<br> </span>
        </div>
        <div class="legend__item">
          <div class="item-color quarter-2"></div>
          <span>Низкая (0.5 - 1)</span>
        </div>
        <div class="legend__item">
          <div class="item-color quarter-3"></div>
          <span>Разреженная (1 - 4)</span>
        </div>
        <div class="legend__item">
          <div class="item-color quarter-4"></div>
          <span>Плотная (4 - 8)</span>
        </div>
        <div class="legend__item">
          <div class="item-color quarter-5"></div>
          <span>Высокая (8 - 12)</span>
        </div>
        <div class="legend__item">
          <div class="item-color quarter-6"></div>
          <span>Наибольшая (более 12)</span>
        </div>
      </div>

      <div class="building">
        <p>Здания</p>
        <div class="legend__item" @click="toggleFilter('1')">
          <div class="item-color building-1" :class="{'disabled-color': !activeClass['1']}"></div>
          <span>Историческая смешанная <br>городская среда</span>
        </div>
        <div class="legend__item" @click="toggleFilter('2')">
          <div class="item-color building-2" :class="{'disabled-color': !activeClass['2']}"></div>
          <span>Cоветская периметральная <br>городская среда</span>
        </div>
        <div class="legend__item" @click="toggleFilter('3')">
          <div class="item-color building-3" :class="{'disabled-color': !activeClass['3']}"></div>
          <span>Индивидуальная жилая <br>городская среда</span>
        </div>
        <div class="legend__item" @click="toggleFilter('4')">
          <div class="item-color building-4" :class="{'disabled-color': !activeClass['4']}"></div>
          <span>Многоэтажная микрорайонная <br>городская среда</span>
        </div>
        <div class="legend__item" @click="toggleFilter('5')">
          <div class="item-color building-5" :class="{'disabled-color': !activeClass['5']}"></div>
          <span>Среднеэтажная микрорайонная <br>городская среда</span>
        </div>
        <div class="legend__item" @click="toggleFilter('6')">
          <div class="item-color building-6" :class="{'disabled-color': !activeClass['6']}"></div>
          <span>Промышленная и <br>общественно-деловая городская <br>среда</span>
        </div>
      </div>
      
    </div>
    <div class="layer-selector">
      <div class="layer-selector__item" @click="selectLayer('vector')" :class="{'layer-selector__active-item': activeLayer === 'vector'}"><p>Улицы</p></div>
      <div class="layer-selector__item" @click="selectLayer('street')" :class="{'layer-selector__active-item': activeLayer === 'street'}"><p>Карта OSM</p></div>
      <div class="layer-selector__item" @click="selectLayer('satellite')" :class="{'layer-selector__active-item': activeLayer === 'satellite'}"><p>Спутник</p></div>
    </div>
    <transition name="scale-popup">
      <div class="popup" v-if="isPopup">
        <div class="popup__dialog">
          <div class="popup__close" @click="closePopup()">
            <span></span>
          </div>
          <ProjectVue class="popup__project" v-if="valuePopup === 'project'"/>
          <DataVue class="popup__data" v-if="valuePopup === 'data'"/>
        </div>
      </div>
    </transition>
    <div class="home">
      <button @click="resetMap()">
        <img src="@/assets/img/home.svg" alt="">
      </button>
    </div>
  </div>
</template>

<script>
import ProjectVue from './ProjectVue'
import DataVue from './DataVue'
import mapboxgl from 'mapbox-gl'
import 'mapbox-gl/dist/mapbox-gl.css'
// import gql from 'graphql-tag'

// const TEST_QUER = gql`
// query {
//   ObjectModelList{
//     edges{
//       node{
//         name
//       }
//     }
//   }
// }
// `

export default {
  components: {
    ProjectVue,
    DataVue
  },
  data() {
    return {
      map: null,
      isMenu: false,
      isPopup: false,
      valuePopup: '',
      activeLayer: 'vector',
      ObjectModelList: {},
      activeClass: {
        1: true,
        2: true,
        3: true,
        4: true,
        5: true,
        6: true
      }
    }
  },
  // apollo: {
  //   ObjectModelList: {
  //     query: TEST_QUER
  //   }
  // },
  methods: {
    resetMap () {
      this.map.setCenter([39.192287876720854, 51.6638460612798])
      this.map.setZoom(11)
      this.map.setPitch(0)
      for(let key in this.activeClass) {
        this.activeClass[key] = true
      }
      this.activeClass['1'] = false
      this.toggleFilter('1')
    },
    toggleFilter (clickedClass) {
      this.activeClass[clickedClass] = !this.activeClass[clickedClass]
      let _displayClass = []
      for (let key in this.activeClass) {
        if (this.activeClass[key]) {
          _displayClass.push(Number(key))
        }
      }
      this.map.setFilter('building-zastr-6we1c2', ['in', 'class', ..._displayClass])
    },
    isOpenPopup (val) {
      this.isPopup = true
      if (val === 'project') {
        this.valuePopup = val
      } else if (val === 'data') {
        this.valuePopup = val
      }
    },

    closePopup () {
      this.isPopup = false
    },

    onMapClick (e) {
      let features = this.map.queryRenderedFeatures(e.point)
      let feature = features.find(_feature => {
        return _feature.layer.id === 'building-zastr-6we1c2'
      })
      let popupCoord = [e.lngLat.lng, e.lngLat.lat]
      let description = ''
      if (feature.properties.address !== undefined) {
        description = `
          <div class="popup-content-wrapper">
            <div><span>Адрес: ${feature.properties.address !== undefined ? feature.properties.address : 'адрес не уточнен'}</span></div>
            <div><span>Год постройки: ${feature.properties.year !== undefined ? feature.properties.year : 'неизвестно'}</span></div>
            <div><span>Этажность: ${feature.properties.level !== undefined ? feature.properties.level - 1 : 'неизвестно'}</span></div>
          </div>
        `
      } else {
        description = `
          <div class="popup-content-wrapper">
            <div><span>Год постройки: ${feature.properties.year !== undefined ? feature.properties.year : 'неизвестно'}</span></div>
            <div><span>Этажность: ${feature.properties.level !== undefined ? feature.properties.level - 1 : 'неизвестно'}</span></div>
          </div>
        `
      }
      new mapboxgl.Popup()
        .setLngLat(popupCoord)
        .setHTML(description)
        .addTo(this.map)
      console.log(feature.properties)
    },

    selectLayer (layerName) {
      this.activeLayer = layerName
      if (layerName === 'satellite') {
        this.map.setLayoutProperty('satellite', 'visibility', 'visible')
        this.map.setLayoutProperty('osm', 'visibility', 'none')
        this.map.setLayoutProperty('street', 'visibility', 'none')
      } else if (layerName === 'street') {
        this.map.setLayoutProperty('satellite', 'visibility', 'none')
        this.map.setLayoutProperty('osm', 'visibility', 'none')
        this.map.setLayoutProperty('street', 'visibility', 'visible')
      } else {
        this.map.setLayoutProperty('satellite', 'visibility', 'none')
        this.map.setLayoutProperty('osm', 'visibility', 'visible')
        this.map.setLayoutProperty('street', 'visibility', 'none')
      }
    },

    initMap() {
      let GLYPHS = 'mapbox://fonts/mapbox/{fontstack}/{range}.pbf'
      let KEY = 'pk.eyJ1IjoiYXJ0LWlsIiwiYSI6ImNrNmozbWE0ODA1aTYza3AxdXJpYW9zbWUifQ.OwGa_B6I-4mMBy3Cg64ehg'
      // let KEY = 'no-token'
      mapboxgl.accessToken = KEY
      this.map = new mapboxgl.Map({
        container: 'map',
        maxTileCacheSize: 0,
        style: {
          version: 8,
          name: 'map',
          center: [39.192287876720854, 51.6638460612798],
          zoom: 11,
          sprite: 'mapbox://sprites/art-il/ckfdsez1j05hu19pf44oia5ol/bbg5viw94wnbip18xlwbri9zs',
          glyphs: GLYPHS,
          sources: {
            satellite: { // ЕГО НЕТ В СТИЛЯХ КАРТЫ! Я ДОБАВЛЯЛ НЕ УДАЛЯТЬ. Нужен для кнопки "спутник"
              type: 'raster',
              tiles: [
                // 'mapbox://styles/mapbox/satellite-v9'
                'https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}'
              ],
              tileSize: 256
            },
            osm: {
              type: 'raster',
              // tiles: ['http://c.tile.stamen.com/toner-lite/{z}/{x}/{y}@2x.png'],
              tiles: ['https://stamen-tiles.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}@2x.png'],
              tileSize: 256
            },
            street: {
              type: 'raster',
              tiles: [
                'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
                'https://b.tile.openstreetmap.org/{z}/{x}/{y}.png',
                'https://c.tile.openstreetmap.org/{z}/{x}/{y}.png'
              ],
              tileSize: 256
            },
            buildings: {
              // url: "mapbox://art-il.7gws57j2",
              tiles: ["https://urban-env.it-thematic.ru/giscms/mvt-tiles/Building/{z}/{x}/{y}"],
              // url: "https://urban-env.it-thematic.ru/giscms/mvt-tiles/Building/{z}/{x}/{y}",
              type: "vector"
            },
            zones: {
              // url: "mapbox://art-il.bq9qdx9c",
              tiles: ["https://urban-env.it-thematic.ru/giscms/mvt-tiles/BuildArea/{z}/{x}/{y}"],
              type: "vector"
            }
          },
          layers: [
            {
              "id": "background-map",
              "type": "background",
              "paint": {
                "background-color": "white"
              }
            },
            {
                "id": "osm",
                "type": "raster",
                "source": "osm",
                "metadata": {
                  "mapbox:layer:caption": "ОСМ"
                }
            },
            {
              'id': 'satellite',
              'type': 'raster',
              'source': 'satellite',
              'metadata': {
                'mapbox:layer:caption': 'Google.com'
              },
              'layout': {
                'visibility': 'none'
              }
            },
            {
              'id': 'street',
              'type': 'raster',
              'source': 'street',
              'metadata': {
                'mapbox:layer:caption': 'OSM'
              },
              'layout': {
                'visibility': 'none'
              }
            },
            {
              "id": "kvartaly-zastr",
              "type": "fill",
              "source": "zones",
              // "source-layer": "kvartaly_zastr-d6c0r0",
              "source-layer": "default",
              "metadata": {
                "mapbox:layer:caption": "Кварталы"
              },
              "layout": {},
              "paint": {
                  "fill-color": [
                      'step',
                      ['get', 'area_lev_k'],
                      '#ffffff',
                      1,
                      '#c8e4e4',
                      2,
                      '#a8d6d7',
                      4,
                      '#52b7b9',
                      8,
                      '#2f808c',
                      12,
                      '#2c5a69'
                  ],
                "fill-opacity": 0.5,
                "fill-outline-color": "black"
              },
            },
            {
              "id": "building-zastr-6we1c2",
              "type": "fill-extrusion",
              "source": "buildings",
              // "source-layer": "building_zastr-9gua0t",
              "source-layer": "default",
              "metadata": {
                  "mapbox:layer:caption": "Здания"
              },
              "layout": {},
              "paint": {
                'fill-extrusion-height': ['case',
                  ['==',['get', 'level'],null],
                  3,
                  ['*',['get', 'level'],3]
                ],
                'fill-extrusion-opacity': 0.7,
                'fill-extrusion-color':["case",
                    //Историческая смешанная городская среда
                    ['==', ['get', 'class'], 1],
                    "#feee91",
                    //Сталинки
                    ['==', ['get', 'class'], 2],
                    "#654737",
                    //ИЖС
                    ['==', ['get', 'class'], 3],
                    "#ff6347",
                    //Многоэтажная городская среда 
                    ['==', ['get', 'class'], 4],
                    "#b87333",     
                    //Хрущевки
                    ['==', ['get', 'class'], 5],
                    "#de9c85",
                    //Промышленные и административные здания
                    "#5d6d94" 
                ]
              }
            }
          ]
        }
      })
      this.map.on('click', 'building-zastr-6we1c2', this.onMapClick)
      this.map.on('mouseenter', 'building-zastr-6we1c2', () => {
        this.map.getCanvas().style.cursor = 'pointer';
      })
      
      // Change it back to a pointer when it leaves.
      this.map.on('mouseleave', 'building-zastr-6we1c2', () => {
        this.map.getCanvas().style.cursor = '';
      })

      this.map.addControl(
        new mapboxgl.NavigationControl({
          showCompass: false,
          showZoom: true
        }), 'top-left'
      )
    }
  },
  mounted() {
    this.initMap(this.map)
  }
}
</script>

<style lang="scss">

.menu-toggle-enter-active {
  transition: all .3s ease;
}
.menu-toggle-leave-active {
  transition: all .3s;
}
.menu-toggle-enter, .menu-toggle-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

.scale-popup-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}
.scale-popup-leave-active {
  transition: all .3s;
}
.scale-popup-enter, .scale-popup-leave-to {
  transform: scale(0);
  opacity: 0;
}

.header {
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;
  &__left {
    width: 510px;
    padding-left: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 155px 155px 0px;
    h2 {
      font-size: 24px;
      margin: 15px 0;
    }
  }
  &__right {
    padding-right: 30px;
    position: relative;
    .menu-block {
      position: absolute;
      top: 0;
      right: 100px;
      background-color: #fff;
      padding: 3px 15px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      span {
        display: block;
        white-space: nowrap;
        margin: 5px 0;
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &__inner {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: .3s;
    &-one {
      margin-bottom: 3px;
      &:before {
        position: absolute;
        content: "";
        top: -6px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: #333;
        transition: .3s;
      }
    }
    &-two {
      &:before {
        position: absolute;
        content: "";
        bottom: -6px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: #333;
        transition: .3s;
      }
    }
  }
  &.is-open {
    .hamburger {
      &__inner {
        &-one {
          top: 3px;
          transform: rotate(135deg);
          &:before {
            opacity: 0;
          }
        }
        &-two {
          transform: rotate(-135deg);
          bottom: 3px;
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }
}

#map {
  width: 100%;
  height: 100%;
}

.mapbox-wrapper {
  position: relative;
  height: 100%;
  flex: 1 1 auto;
}

.map-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo-itt {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  left: 20px;
  bottom: 65px;
  z-index: 2;
  img {
    width: 45px;
  }
  a {
    display: flex;
    color: black;
    align-items: center;
  }
  p {
    margin: 0;
    margin-left: 15px;
    font-family: 'ITT';
    font-size: 30px;
  }
}

.layer-selector {
  position: absolute;
  bottom: 20px;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  display: flex;
  &__item {
    cursor: pointer;
    width: 146px;
    margin: 0 3px;
    p {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 14px;
      margin: 3px 3px 0 3px;
      padding-bottom: 6px;
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #333333;
        transition: .3s;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__active-item {
    font-weight: bold;
    p {
      &:after {
        width: 100%;
      }
    }
  }
}

.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 10px;
    line-height: 9px;
  }
  .item-color {
    flex: none;
    width: 55px;
    height: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 15px;
  }
  .disabled-color {
    background-color: gray;
  }
}

.quarter {
  margin-bottom: 10px;
  &-1 {
    background-color: #fff;
  }
  &-2 {
    background-color: #C8E4E4;
  }
  &-3 {
    background-color: #A8D6D7;
  }
  &-4 {
    background-color: #52B7B9;
  }
  &-5 {
    background-color: #2F808C;
  }
  &-6 {
    background-color: #2C5A69;
  }
  .legend__item {
    margin: 8px 0;
  }
}

.building {
  &-1 {
    background-color: #FEEE91;
  }
  &-2 {
    background-color: #654737;
  }
  &-3 {
    background-color: #FF6347;
  }
  &-4 {
    background-color: #DE9C85;
  }
  &-5 {
    background-color: #B87333;
  }
  &-6 {
    background-color: #5D6D94;
  }
  .legend__item {
    cursor: pointer;
    align-items: flex-start;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__dialog {
    position: absolute;
    padding: 50px 15px 15px;
    top: 50%;
    left: 50%;
    max-width: 70vw;
    max-height: 65vh;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    h2 {
      margin: 0;
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: .3s;
    span {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 3px;
      background-color: #333;
      transform: rotate(45deg);
      transition: .3s;
      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: #333;
        transform: rotate(90deg);
      }
    }
    &:hover {
      span {
        transform: rotate(225deg);
      }
    }
  }
}

.popup-content-wrapper {
  padding-top: 5px;
}
.mapboxgl-popup-content {
  border-radius: 10px;
}
.mapboxgl-popup-close-button {
  outline: none;
}
.mapboxgl-ctrl-top-left {
  top: calc(50% - 100px);
  left: 20px;
}
.mapboxgl-ctrl-group {
  background-color: transparent;
  box-shadow: none!important;
}
.mapboxgl-ctrl-zoom-out {
  margin-top: 20px;
  border: none;
  outline: none;
}
.mapboxgl-ctrl {
  margin: 0 !important;
  float: none !important;
  button {
    width: 48px;
    height: 48px;
    background: #ffffff !important;
    box-shadow: 0px 2px 22px rgba(13, 13, 14, 0.1);
    border-radius: 5px;
  }
}

.home {
  position: absolute;
  left: 20px;
  top: calc(50% + 40px);
  box-shadow: 0px 2px 22px rgba(13, 13, 14, 0.1);
  border-radius: 5px;
  button {
    width: 48px;
    height: 48px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
  }
}

@media (max-width: 991px) {
  .header {
    &__left {
      width: 360px;
      h2 {
        font-size: 18px;
      }
    }
  }
  .layer-selector {
    &__item {
      width: 80px;
    }
  }
}

@media (max-width: 767px) {
  .logo-itt,
  .legend {
    display: none;
  }
  .header {
    &__left {
      margin-right: 10px;
      h2 {
        margin: 8px 0;
      }
    }
  }
}

</style>
