<template>
  <div class="project-content">
    <h2>1. О проекте</h2>
    <p>1.1 Почему мы решили сделать это?</p>
    <p>В январе 2021 года был опубликован Стандарт комплексного развития территорий. Стандарт был разработан Минстроем России и ДОМ.РФ вместе с КБ Стрелка по поручению Председателя Правительства РФ как методическое руководство по развитию застроенных территорий и освоению новых.</p>
    <p>Мы решили спроецировать положения Стандарта, которые касаются квартальной застройки на реальный город. В качестве “манекена” выбрали Воронеж. К тому же, 11 марта в Воронеже отмечен как памятная дата - это день точно датированного упоминания о крепости Воронеж (1586 год). Выпуск карты мы решили приурочить к этой дате. <br>Мы визуализировали на карте типы городской среды и плотность застройки кварталов.</p>
    <p>Стандарт выделяет пять основных типов сформировавшейся городской среды:</p>
    <span>- индивидуальная жилая городская среда;</span><br>
    <span>- среднеэтажная микрорайонная городская среда;</span><br>
    <span>- многоэтажная микрорайонная городская среда;</span><br>
    <span>- советская периметральная городская среда;</span><br>
    <span>- историческая смешанная городская среда.</span>
    <p>Стандарт предусматривает определенную целевую модель развития территории и предлагает  принципиальные объемно-пространственные решения застройки кварталов в зависимости от сформировавшегося типа городской среды.</p>
    <span>(фото панорама Воронеж)</span>
    <img src="@/assets/img/vrn.jpg" alt="Воронеж">
    <p>Эти типы были взяты за основу классификации зданий на карте. Мы специально не стали присваивать классы кварталам, а классифицировали отдельные здания. Улично-дорожная сеть исторически складывалась неодинаково в разных частях города. Правобережная часть города имеет радиально-полукольцевую систему, на левом берегу - вытянутую в меридиональном направлении систему. Квартал, как часть территории города, ограниченная со всех сторон улицами, естественными и искусственными рубежами, имеет различные размеры. Почти в каждом из них присутствует застройка разных типов. Из-за этого пришлось бы отнести большее число кварталов к смешанной городской среде.<br>Классификация по типам отдельных зданий на карте дает более наглядное представление о типах городской среды.<br>Для классификации кварталов выбран другой критерий - плотность застройки.<br>Под плотностью застройки понимается общая площадь всех этажей здания, которые находятся над землей, приведенные на 1 га участка квартала или жилого района. Измеряется плотность застройки в квадратных метрах на гектар (кв.м/га).<br>Описание классификации типов городской среды и плотности застройки, которые показаны на карте, приведены в разделе “О данных”.</p>
    <p>1.2 Используемые данные</p>
    <p>Основным источником сведений о контурах зданий стали данные Open Street Maps.<br>Основой информации о годах постройки и этажности многоквартирных домов стала опубликованная региональная программа капитального ремонта Воронежской области.<br>Для индивидуальных жилых домов информация о годе постройки (ввода в эксплуатацию) и этажности была добавлена из сведений Росреестра (сведения об объектах капитального строительства) и и данных Open Street Maps.<br>В результате был сформирован набор векторных данных с информацией об этажности и годах постройки зданий.<br>Информация о квартальной сети была взята из ИПСВ (интернет портал системы видеонаблюдения), в разработке которого мы принимали непосредственное участие.</p>
    <p>1.3. Результаты расчета индекса разнообразия</p>
    <p>Для оценки качества городской среды разработана “Методика формирования индекса качества городской среды”, которая утверждена распоряжением Правительства Российской Федерации от 23 марта 2019 года N 510-р. <br>Одним из показателей оценки является разнообразие жилой застройки. <br>Это индикатор, который характеризует степень монотонности городской застройки. <br>С формулой расчета можно ознакомиться в Приложении 1 (пункт 4) к Распоряжению: <a href="http://docs.cntd.ru/document/553937399" target="_blank">http://docs.cntd.ru/document/553937399</a></p>
    <p>Мы рассчитали этот показатель для каждого района Воронежа.</p>
    Типы застройки мы поделили на следующие типы:
    <ul>
      <li>Индивидуальные жилые дома (1-2- этажные частные дома и коттеджи)</li>
      <li>Малоэтажные жилые дома (3-4 этажные дома)</li>
      <li>Среднеэтажные (5-8 этажные жилые дома)</li>
      <li>Многоэтажные (жилые дома от 9 этажей и выше)</li>
    </ul>
    <p>Каждый из этих типов, согласно “Методике формирования индекса качества городской среды” был поделен еще на два по годам постройки: с 1956 по 1991 гг. и с 1992 по настоящее время.</p>
    <p>В итоге мы получили следующие показатели индикатора разнообразия жилой застройки: <br>Центральный район - 0.341 <br>Коминтерновский район - 0.467 <br>Советский район - 0.515 <br>Ленинский район - 0.447 <br>Железнодорожный район - 0.456 <br>Левобережный район - 0.533</p>
    <p>Наиболее массовый по количеству зданий тип застройки с 1956 по 1991 годы - это индивидуальные жилые дома - более 16 000 домов.<br>Второй - индивидуальные жилые дома построенные с 1992 года до настоящего времени - более 6 500 домов. <br>Далее идут современные (с 1992 года) многоэтажки (более 1 100), среднеэтажные жилые дома, построенные с 1956 по 1991 годы (более 1000 домов) и многоэтажные жилые дома, построенные с 1956 по 1991 год (более 800 домов). <br>Кроме того, в Воронеже более 28 000 зданий построено до 1956 года. Всего домов более 54 000. <br>Низкий индекс разнообразия у Центрального района объясняется большим количеством зданий, построенных до 1956 года (около 5 500 зданий из 8 500).</p>
    <p>Следует учитывать, что нам не все здания города удалось классифицировать по годам постройки и этажности и в собранных нами сведениях есть некоторый процент ошибок.</p>
    <p>С более подробной таблицей с количеством домов по типам можно ознакомиться по ссылке: <a href="https://docs.google.com/spreadsheets/d/1n9ZjBmgqj9iebytchww_V3kKFimaQ8RP2mrV7P1ncDU/edit?usp=sharing" target="_blank">https://docs.google.com/spreadsheets/d/1n9ZjBmgqj9iebytchww_V3kKFimaQ8RP2mrV7P1ncDU/edit?usp=sharing</a></p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.project-content {
  overflow: auto;
  height: 63vh;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 3px;
  }
}
</style>