<template>
  <div id="app" class="app">
    <MapboxVue/>
  </div>
</template>

<script>
import MapboxVue from './components/MapboxVue.vue'

export default {
  name: 'App',
  components: {
    MapboxVue
  }
}
</script>

<style lang="scss">

@import '~@/assets/scss/fonts.scss';

* {
  font-family: 'Roboto_R';
  color: #333333;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto_R';
  color: #333333;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto_B';
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
a:hover {
  color: gray;
}
</style>
